<h1>Hello SalesLoft!</h1>
<p>Press the buttons below to dropp discs onto the board.</p>

<div id="winner"></div>

<button onclick="reset()">Reset board</button>
<span id="player-turn">Player's turn</span>
<span id="winner" style="display:none;">nobody</span>

<div id="board" style="position:relative;">
  <canvas id="canboard"
          height="350"
          width="350">
  </canvas>

  <script>
    $(document).ready(function(){
      <% 7.times do |i| %>
        $('<button/>', {
          id: 'drop_slot<%=i%>',
          class: 'drop_slot'
        }).on('click', function(){
            drop_click(<%=i%>);
        }).appendTo($('#board'));
        <%end%>
    });
  </script>
</div>

<div id="progress-board"
     style="border-color: black;
         border-style: solid;
         border-radius: 2px;
         padding: 2px;
         float: right">

  <ul>
    <li class="done">Deploy</li>
    <li class="done">Disc logic</li>
    <li class="done">UI</li>
    <li class="done">Game logic</li>
    <li class="done">Win conditions</li>
    <li class="done">Database saves</li>
    <li class="done">AI</li>
  </ul>

</div>
<script type="text/javascript">
</script>
