<h1>Hello Heroku</h1>
<p>I hope this works!</p>

<div id="board" style="position:relative;">
  <canvas id="canboard"
          height="<%=(@board.height*@canvas_scale)%>"
          width="<%=(@board.width*@canvas_scale)%>">
  </canvas>

  <script>
    $(document).ready(function(){
      //create buttons for dropping discs into columns
      <% 7.times do |i| %>
        $('<button/>', {
          id: 'drop_slot<%=i%>',
          class: 'drop_slot'
        }).on('click', function(){
          $.ajax({
            url: 'board/drop_disc?column=<%=i%>',
            type: 'GET',
            success: function(result){
              drawDisc(result.color, result.coords[0], result.coords[1]);
            }
          })
        }).appendTo($('#board'));
      <%end%>
    });
  </script>

</div>

<div id="progress-board"
     style="border-color: black;
     border-style: solid;
     border-radius: 2px;
     padding: 2px;
     float: right">

  <ul>
    <li class="done">Deploy</li>
    <li class="done">Disc logic</li>
    <li class="done">UI</li>
    <li class="in-progress">Game logic</li>
    <li class="tbd">Win conditions</li>
    <li class="tbd">Database saves</li>
    <li class="tbd">AI</li>
  </ul>

</div>
<script type="text/javascript">
</script>
