<h1>Hello Heroku</h1>
<p>I hope this works!</p>

<canvas id="canboard"
        height="<%=(@board.height*@canvas_scale)%>"
        width="<%=(@board.width*@canvas_scale)%>"
        style="background-color: #FF0;">
</canvas>

<script type="text/javascript">
  offset = function(point){
    scale = <%= @board.height * @canvas_scale %>;
    return (scale/7) * point + (scale/14);
  };
  drawCircle = function(context,x,y){
    context.beginPath();
    radius = 10;
    context.arc(
        x,
        y,
        24,
        0,
        (2 * Math.PI),
        false);
    context.fillStyle = 'green';
    context.fill();
    context.lineWidth = 5;
  };
  drawSlots = function(context){
    for(i=0;i<7;i++){
      for(j=0;j<7;j++) {
        console.log(offset(i));
        drawCircle(context, offset(i), offset(j));
      }
    }
  };

  $(document).ready(function(){
    var canvas = document.getElementById('canboard');
    var context = canvas.getContext('2d');
    drawSlots(context);
    $('#canboard').on('click', function(){

      $.ajax({
        url: 'welcome/drop_disc',
        type: 'GET',
        success: function(result){
          console.log("get success");
          drawCircle(context);
        },
        error: function(result, thing){
          console.log(result);
        }
      });

    });
  });
</script>

